.body-cont {
    font-family: Comfortaa, cursive;
    padding: 20px
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.logotext {
    font-size: 28px;
    color: #584B4B;
    font-weight: 700;
}

.book {
    background-color: #FEC4A4;
    opacity: 0.9;
    max-width: 400px;
    height: 70vh;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.top-flex {
    /*border: 1px solid black;*/
    width: 100%;
    height: 150px;
    display: flex;
}

.img-book {
    width: 150px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px
}

.img-book img {
    max-width: 100%;
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.names p, .names a {
    font-size: 13px;
    padding-left: 20px;
    /*padding-bottom:10px;*/
    /*color: #584B4B;*/
}

.names a {
    color: #000;
    background-color: #F87070;
    text-align: center;
    padding: 8px 10px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20px
}

.down-flex {
    display: flex;
}

.left-flex {
    width: 55%;
    padding-top: 20px

}

.right-flex {
    width: 45%;
    padding-left: 20px;
    padding-top: 20px
}

.left-flex input {
    width: 100%;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    padding: 10px 15px;
    background-color: #B2A3DF;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
    border:1px solid transparent;
    cursor: pointer;
    font-family: Comfortaa, cursive;
}

.left-flex input.del {
    background-color: #F87070;
}

.left-flex input.green {
    background-color: #BEF37B;
}

.left-flex input:hover {
    background-color: transparent;
    border: 1px solid #584B4B;
    color: #4A4141;
}

.qrcode {
    width: 100%;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    border: 2px solid #B2A3DF;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
    padding: 26px 10px;
    font-weight: 700;
    background-color: transparent;
    color: #4A4141;
    font-family: Comfortaa, cursive;
    cursor: pointer;
}

.qrcode:hover {
    background-color: #B2A3DF
}