<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Title</title>
		
		
		
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/404.css">
		<link rel="stylesheet" type="text/css" href="../static/css/lybrary-table.css">
	</head>

	<body>

		<div class="upperside">
			<div class="errornum">404</div>
			<div class="errorname">Упс, страница не найдена</div>
		</div>
		<div class="lowerside">
			<a class="link-away" href='#'>На главную</a>
		</div>



	</body>
	</html>