<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Title</title>



		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/library.css">
		<link rel="stylesheet" type="text/css" href="../static/css/library-page.css">
		{% block links %}{% endblock %}
	</head>

	<body>

				<div class="block-abs-code">
					<p class="code">Код библиотеки: 2330384</p>
				</div>

		<div class="topfix"></div>
		<div class="body-content">

			<div class="fixed-side">

				<h1>Библио</h1>

					<a href='/library/students' class="link-menu abs">Ученики</a>
				<a href='/library/students' class="link-menu abs">Мои книги</a>
					<a href='/library/books' class="link-menu">Книги</a>
					<a href='/library/editions' class="link-menu">Издания</a>
				<a href='/library/editions' class="link-menu" style="font-size: 12px; margin-top: 40px">Редактировать профиль</a>

			</div>
			<div class="normal-side">
				<div class="borders">
				<p class="text-des">Здесь Вы всегда найдете нужную книгу. Попробуйте!</p>

					<div class="block-code" style="margin-bottom: 20px">
					<p class="code">Код библиотеки: 2330384</p>
				</div>


				{% block contents %}{% endblock %}




			</div>
			</div>

		</div>



	</body>
	</html>