<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Title</title>



		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/bookone.css">
	</head>

	<body>
		<div class="body-cont">
		<div class="logo-text"><strong style="font-size: 25px">M | L</strong></div>

		<div class="book">
			<div class="top-flex">
				<div class="img-book">
					<img src='img/mars.jpg'>
				</div>
				<div class="names">
					<p style="padding-top: 15px;font-size: 15px;"><strong>Название: {{ book.name }}</strong></p>
					<p style="padding-bottom: 15px">Издание: {{ book.edition.name }}</p>
                    {% if book.owner %}
					<a href='#' style="font-size: 12px">Владелец: {{ book.owner.name }}</a>
                    {% else %}
                    <a href='#' style="font-size: 12px">Владельца нет</a>
                    {% endif %}
				</div>
			</div>

            <form id="book-edit" method="post">
			<div class="down-flex">
				<div class="left-flex">
                    {% if book.owner %}
					<input type='submit' class="back" name="return-book" value="Забрать у владельца">
                    {% else %}
					<input type='submit' class="back" name="give-book" value="Выдать ученику">
                    {% endif %}
					<input type='submit' class="back del" name="delete-book" value="Удалить из базы">
					<input type='submit' class="back green" name="add-in-edition" value="Добавить в издание">
				</div>
				<div class="right-flex">
                    {% if current_user.role_id == 1 and current_user.library_id == book.edition.library_id%}
                    <input type="submit" class="qrcode" name="print-qr" value="Распечатать QR код">
                    {% endif %}
				</div>
			</div>
            </form>
		</div>
	</div>
	</body>
	</html>