<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Title</title>



		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/bookone.css">
	</head>

	<body>
		<div class="body-cont">
		<div class="logo-text"><strong style="font-size: 25px">M | L</strong></div>

		<div class="book">
			<div class="top-flex">
				<div class="img-book">
					<img src='img/mars.jpg'>
				</div>
				<div class="names">
					<p style="padding-top: 15px;font-size: 15px;"><strong>Название: Тихий Дон</strong></p>
					<p style="padding-bottom: 15px">Издание: Бла Бла</p>
					<a href='#' style="font-size: 12px">Владелец: Николай</a>
				</div>
			</div>

			<div class="down-flex">
				<div class="left-flex">
					<a class="back" href='#'>Забрать у владельца</a>
					<a class="back" href='#'>Выдать ученику</a>
					<a class="back del" href='#'>Удалить из базы</a>
					<a class="back green" href='#'>Добавить в издание</a>
				</div>
				<div class="right-flex">
					<a class="qrcode" href='#'>Распечатать QR код</a>
					<a class="qrcode" href='#'>Забрать к себе</a>
				</div>
			</div>

		</div>
	</div>
	</body>
	</html>