<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сменить пароль</title>
</head>
<body>
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.crsf_token }}
    {{ form.new_password() }}
    {% for error in form.new_password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

    {{ form.confirm_new_password() }}
    {% for error in form.confirm_new_password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}

    {{ form.submit() }}
</form>
</body>
</html>