{% extends "base-table.html" %}
{% block codeinblock %}
    <p class="code">Код библиотеки: {{ library_code }}</p>
{% endblock %}
{% block url %}
    <style>
        .body-content {
            align-items: stretch
        }

        .fixed-side {
            min-height: 100vh;

            align-self: stretch;
        }

        .normal-side {

        }
    </style>
    {% if current_user.role_id == 2 %}
        <a href='/library/students' class="link-menu abs">Мои книги</a>
    {% elif current_user.role_id == 1 %}
        <a href='/library/students' class="link-menu abs">Ученики</a>
    {% endif %}
{% endblock %}
{% block contents %}
    {% block codeoutblock %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/library-page.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/create_edition.css") }}">
    <form class="contact_form" action="" method="post" name="contact_form" enctype="multipart/form-data"
          style="margin-top: 200px;margin-bottom: 90px">
        {{ form.hidden_tag() }}
        {{ form.crsf_token }}
        <ul>
            <li>
                <h3>Добавить издание в один клик!</h3>
            </li>
            <li>
                {{ form.name(placeholder='Бунин') }}
                {{ form.name.label }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </li>

            <li>
                {{ form.publisher_name(placeholder='Максим') }}
                {{ form.publisher_name.label }}<br>
                {% for error in form.publisher_name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </li>
            <li>
                {{ form.author(placeholder='Бунин') }}
                {{ form.author.label() }}<br>
                {% for error in form.author.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </li>
            <li>
                {{ form.publication_year(placeholder='2012') }}
                {{ form.publication_year.label }}<br>
                {% for error in form.publication_year.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </li>
            <li>
                {{ form.book_counts(placeholder='23') }}
                {{ form.book_counts.label }}<br>
                {% for error in form.book_counts.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </li>
            <li>
                {{ form.photo(placeholder='') }}
                {{ form.photo.label }}<br>
                {% for error in form.photo.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </li>

            {{ form.submit(value='Создать', style='background-color:white') }}
            {% for error in form.submit.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </ul>
    </form>
{% endblock %}