<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Title</title>


    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="../static/css/bookone.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/editionone.css')}}">
</head>

<body>
<div class="body-cont">
    <div class="logo-text"><strong style="font-size: 25px">M | L</strong></div>

    <div style="margin:auto;max-width: 1040px;margin-top: 40px">
        <a href='#' class="link-del green" style="float: right;margin-bottom:50px">Добавить книгу к изданию</a>
    </div>

    <form method="post">
        <div class="edition-body">
            <div class="upper-block">
                <div class="img-book">
                    <img src="{{ url_for('static', filename='img/' + edition.avatar_image)}}">
                </div>
                <div class="descrs">
                    <h3>Название издания: {{ edition.name }}</h3>
                    <p>Количество книг: {{ count_books }}</p>
                    <input type="submit" name="delete-edition" class="link-delete hiden" value="Удалить издание">
                </div>
                <div style="margin-left: auto">
                    <input type="submit" name="delete-edition" class="link-delete opas" value="Удалить издание">
                </div>
            </div>
        </div>
    </form>

    <div class="lower-block">
        <input type="text" name="" placeholder="Поиск в издании" class="inpt-srh">
    </div>

    <div class="ed-books">
        {% for book in books %}
        <div class="book-item">
            <div class="img-book bookitem">
                <img src="{{ url_for('static', filename="img/newaris.png") }}">
            </div>
            <div class="descrs bookitem">
                <h3 style="font-size: 15px">id: {{ book.id }}</h3>
                {% if book.owner %}
                <a href='/library/books/{{ book.id }}' class="link-del">Книга у {{ book.owner.name }}</a>
                {% else %}
                <a href='/library/books/{{ book.id }}' class="link-del green">Книга свободна</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}


    </div>

</div>


</div>
</body>
</html>