{% extends "base-table.html" %}

{% block right_side %}
<div class="flex-second">
				<div>
					<input type="text" name="" class="intpfield" placeholder="Поиск по изданиям">
				</div>
                {% for edition in editions %}
				<div class="izd-item">
					<p>{{ edition.name }}</p>
					<span >Литература</span>
					<span style="background-color: #98D9E8;margin-left: 0">Учебник</span>
					<input type="submit" name="delete-edition" class='link-izd' href='#' value="Удалить">
				</div>
                {% endfor %}
			</div>
{% endblock %}