{% extends "base-table.html" %}
{% block title_block %}Список изданий{% endblock %}
{% block links %}<link rel="stylesheet" type="text/css" href="../static/css/popups.css">
<link rel="stylesheet" type="text/css" href="../static/css/editionone.css">{% endblock %}
{% block codeinblock %}
    <p class="code">Код библиотеки: {{ library_code }}</p>
{% endblock %}
{% block url %}
    {% if current_user.role_id == 1 %}
        <a href='/library/books?owner_id={{ current_user.id }}' class="link-menu abs">Мои книги</a>
    {% elif current_user.role_id == 2 %}
        <a href='/library/students' class="link-menu abs">Ученики</a>
    {% endif %}
{% endblock %}
{% block contents %}

    <link rel="stylesheet" type="text/css" href="../static/css/lybrary-table.css">
    <style>
    a.link-create-edi{
        margin-top: 155px;
        margin-left: 40px;
        font-size: calc(10px + 5*(100vw / 1280));
        display: block;

        border-radius: 3px;

        padding: 5px;
        text-decoration: none;
        max-width: 165px;
        align-content: center;
    }
    .izd-item{
        padding: 10px;
    }
    @media(max-width: 767px) {
    .link-create-edi{
        margin-top: 200px;
    }

    }
    </style>
    <div class="block-abs-code">
        <p class="code">Код библиотеки: {{ library_code }}</p>
    </div>
    <a href="/library/editions/create" class="link-create-edi">Добавить издание</a>

    <div class="flex-block" style="margin-left: 0">
        <div class="flex-second" style="width:100%;margin-left: -20px">
            <div>
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    {{ form.crsf_token }}

                    {{ form.id(placeholder='1', class='int-search') }}
                    {{ form.id.label(class='text-search') }}<br>
                    {% for error in form.id.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}

                    {{ form.name(placeholder='Война и мир', class='int-search') }}
                    {{ form.name.label(class='text-search') }}<br>
                    {% for error in form.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}

                    {{ form.author(placeholder='Толстой', class='int-search') }}
                    {{ form.author.label(class='text-search') }}<br>
                    {% for error in form.author.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}

                    {{ form.publication_year(placeholder='1865', class='int-search') }}
                    {{ form.publication_year.label(class='text-search') }}<br>
                    {% for error in form.publication_year.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}

                    {{ form.submit(class='link-search') }}
                    {% for error in form.submit.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </form>
            </div>
            {% for edition in editions %}
                <div class="izd-item" style="max-width: 100%">
                    <img alt="" src="../static/img/editions/{{ edition.photo_name }}" style="max-width: 100px;border-radius: 3px">
                    <a href="/library/editions/{{ edition.id }}" class="ed-name">{{ edition.name }}</a>
                    <span>Литература</span>
                    <span style="background-color: #98D9E8;margin-left: 0">Учебник</span>
{#                    <input type="submit" name="delete-edition" class='link-izd' href='/library' value="Удалить">#}
                    {% if current_user.role_id == 2 %}
                        <a class="link-izd" href='#popup_edition_{{ edition.id }}'>Удалить</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        {% for edition in editions %}
            {{ markup(edition.id) }}
        {% endfor %}
    </div>
{% endblock %}