<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="device-width">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>Title</title>
    <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container-body">


    <div class="main-block">
        <div style="z-index: 2">
            <div class="circle circle-big"></div>
            <div class="circle circle-small"></div>
        </div>


        <div class="logo">
            <p>M | L</p>
        </div>

        <div class="mylib-text">
            <p>MyLibr</p>
        </div>

        <div class="desr-text" style="z-index: 3;position: relative;">
            <p>Твоя любимая библиотека.</p>
        </div>

        <div class="link-circle"><a href='/sign_in'>Н А Ч А Т Ь </a></div>

        <div class="madeby">
            Made By Zilant
        </div>


    </div>

    <div class="about-block">
        <div class="textabout">О проекте</div>

        <div class="block-text">
            <div class="text-item">
                <h2>- Для чего?</h2>
                <p>
                    Крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки. Веб-сервис основан на
                    системе контроля версий Git
                </p>
            </div>

            <div class="text-item">
                <h2>- Чем полезно?</h2>
                <p>
                    Крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки. Веб-сервис основан на
                    системе контроля версий Git
                </p>
            </div>

            <div class="text-item">
                <h2>- Кто такой Либби?</h2>
                <p>
                    Крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки. Веб-сервис основан на
                    системе контроля версий Git
                </p>
            </div>

        </div>
    </div>

</div>


</body>
</html>
