{% extends "base-table.html" %}
{% block title_block %}Добавить издание{% endblock %}
{% block codeinblock %}

            <button onclick="copyToClipboard('#p1')" style="border: none;background-color: transparent;color: #4A4141;font-weight: normal" class="code"><p class="code" style="margin-top: -10px">Код библиотеки: {{ library_code }}</p></button>


{% endblock %}
{% block url %}
    <style>
    .fixed-side a.link-menu.n{
            color: #473C3C;
            -webkit-text-fill-color: #473C3C;
            opacity: 0.95;
        }
        .body-content {
            align-items: stretch
        }

        .fixed-side {
            min-height: 100vh;

            align-self: stretch;
        }

        .normal-side {}
        button{
        outline: none;
        cursor: pointer;
    }
    .block-abs-code:active, .block-abs-code:focus{
        border: none;
    }
    .block-abs-code::-moz-focus-inner {
   border: none;
        }
    .btn-sv{
        background-color: white;
        display: block;
        border-radius: 3px;
        color: #9278aa;
        max-width: 200px;
        padding-left: 10px;
        border:none;
        text-align: center;
    }
    form.contact_form{
        margin-top: 80px;
    }
    </style>
{% endblock %}
{% block contents %}
    {% block codeoutblock %}
        <button onclick="copyToClipboard('#p1')" style="border: none;background-color:
                    transparent;color: #584B4B;font-weight: 400;font-family: Comfortaa, cursive;font-size: 11px" class="block-abs-code">
                <p class="code" style="margin-top: -10px">Код библиотеки:
                    {{ library_code }}</p>
<p id="p1" style="display: none">{{ library_code }}</p></button>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/library-page.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/create_edition.css") }}">
    <form class="contact_form" action="" method="post" name="contact_form" enctype="multipart/form-data"
          style="margin-top: 200px;margin-bottom: 90px">
    {{ form.hidden_tag() }}
    {{ form.crsf_token }}
    {% if current_user.role_id == 2 %}

        {{ form.name.label(style='margin-top:30px') }}
        {{ form.name(style='margin-bottom:20px;margin-top:30px') }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}<br>

        {{ form.surname.label }}
        {{ form.surname(style='margin-bottom:20px') }}
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        {{ form.library_school_name.label }}
        {{ form.library_school_name(style='margin-bottom:20px') }}
        {% for error in form.library_school_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}<br>

        {{ form.students_join_possibility.label }}
        {{ form.students_join_possibility(style='margin-top:20px;margin-bottom:20px') }}
        {% for error in form.students_join_possibility.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    {% else %}
        {{ form.name.label }}
        {{ form.name(style='margin-bottom: 20px') }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}<br>

        {{ form.surname.label }}
        {{ form.surname(style='margin-bottom: 20px') }}
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    {{ form.submit(class='btn-sv', style='cursor:pointer;color:black') }}
    </form>
{% endblock %}