{% extends "base-table.html" %}
{% block codeinblock %}
    <button onclick="copyToClipboard('#p1')"
            style="border: none;background-color: transparent;color: #4A4141;font-weight: normal" class="code"><p
            class="code" style="margin-top: -10px">Код библиотеки: {{ library_code }}</p></button>

{% endblock %}
					<p class="code">Код библиотеки: {{ library_code }}</p>
{% block url %}
    {%  if current_user.role_id == 2 %}
        <a href='/library/students' class="link-menu abs">Мои книги</a>
    {% elif current_user.role_id == 1 %}
        <a href='/library/students' class="link-menu abs">Ученики</a>
    {% endif %}
{% endblock %}
{% block contents %}
    <style>
    .fixed-side a.link-menu.abs{
            color: #473C3C;
            -webkit-text-fill-color: #473C3C;
            opacity: 0.95;
        }
    button {
            outline: none;
            cursor: pointer;
        }

        .block-abs-code:active, .block-abs-code:focus {
            border: none;
        }

        .block-abs-code::-moz-focus-inner {
            border: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lybrary-table.css') }}">
    <button onclick="copyToClipboard('#p1')" style="border: none;background-color:
                    transparent;color: #584B4B;font-weight: 400;font-family: Comfortaa, cursive;font-size: 11px"
            class="block-abs-code">
        <p class="code" style="margin-top: -10px">Код библиотеки:
            {{ library_code }}</p>
        <p id="p1" style="display: none">{{ library_code }}</p></button>
    <div class="flex-block" style="margin-left: 0">

                        {{ form.id(placeholder='Her\' vsykaya') }}
                        {{ form.id.label }}<br>
                        {% for error in form.id.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                        {% endfor %}


                        {{ form.name(placeholder='Her\' vsykaya') }}
                        {{ form.name.label }}<br>
                        {% for error in form.name.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                        {% endfor %}

                        {{ form.surname(placeholder='Her\' vsykaya') }}
                        {{ form.surname.label }}<br>
                        {% for error in form.surname.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                        {% endfor %}

                        {{ form.class_num(placeholder='Her\' vsykaya') }}
                        {{ form.class_num.label }}<br>
                        {% for error in form.class_num.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                        {% endfor %}

{#                    {{ form.class_letter(placeholder='Г', class='int-search') }}#}
{#                    {{ form.class_letter.label(class='text-search') }}<br>#}
{#                    {% for error in form.class_letter.errors %}#}
{#                        <p class="alert alert-danger" role="alert">#}
{#                            {{ error }}#}
{#                        </p>#}
{#                    {% endfor %}#}

                    {{ form.submit(class='link-search') }}
                    {% for error in form.submit.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </form>
            </div>
            {% for student in students %}
                <div class="izd-item" style="padding: 5px">
                    <span style="background-color: #98D9E8;margin-left: 0">{{ student.id }}</span>
                    <a href="/library/profile/{{ student.id }}">{{ student.surname }} {{ student.name }}</a>
                    <span>{{ student.class_num }} класс</span>
                    <a class='link-izd' href='/library/delete_student/{{ student.id }}'>Удалить</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}