<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/tabs.css">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/form.css">
</head>

<body>
<div class="topfix"></div>

<div class="pretext">Выберите, какое действие хотите совершить!</div>

<div class="wrapper">

    <div class="content">
        <div class="tabs">
            <nav class="tabs__items">
                <a href="#tab_01" class="tabs__item"><span>Зарегистрировать библиотеку</span></a>
                <a href="#tab_02" class="tabs__item"><span>Зарегистрироваться как ученик </span></a>
                <a href="#tab_03" class="tabs__item"><span>Войти</span></a>
            </nav>
            <div class="tabs__body">
                <div id="tab_01" class="tabs__block">


                    <form class="decor">
                        <div class="form-left-decoration"></div>
                        <div class="form-right-decoration"></div>
                        <div class="circle"></div>
                        <div class="form-inner">
                            <h3>Заполните форму</h3>


                            <label>Введите название</label>
                            <input type="text" placeholder="Введите тут" style="margin-top: 15px; margin-bottom: 25px">


                            <textarea placeholder="Сообщение..." rows="3"></textarea>
                            <input type="submit" value="Регистрация">
                        </div>
                    </form>


                </div>
                <div id="tab_02" class="tabs__block">

                    <form class="decor">
                        <div class="form-left-decoration"></div>
                        <div class="form-right-decoration"></div>
                        <div class="circle"></div>
                        <div class="form-inner">
                            <h3>Заполните форму</h3>


                            <label>Имя ученика</label>
                            <input type="text" placeholder="Введите тут" style="margin-top: 15px; margin-bottom: 25px">


                            <textarea placeholder="Сообщение..." rows="3"></textarea>
                            <input type="submit" value="Зарегистрировать" style="background: #9278aa">
                        </div>
                    </form>


                </div>
                <div id="tab_03" class="tabs__block">


                    <form class="decor">
                        <div class="form-left-decoration"></div>
                        <div class="form-right-decoration"></div>
                        <div class="circle"></div>
                        <div class="form-inner">
                            <h3>Заполните форму</h3>


                            <label>Ваш логин</label>
                            <input type="text" placeholder="Введите тут" style="margin-top: 15px; margin-bottom: 25px">
                            <label>Пароль</label>
                            <input type="text" placeholder="Введите тут" style="margin-top: 15px; margin-bottom: 25px">


                            <input type="submit" value="Войти" style="background: #97c67d">
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="text">

        </div>
    </div>
</div>
</body>
</html>
